extends layout

block content
  header
    h1= title
    
  p Welcome to #{title}

  form(action="/login",method="post")
    input(type="text",name="user_id",placeholder="User ID",value="saison")
    input(type="password",name="password",placeholder="Password",value="12345678")
    input(type="submit",value="Login")
  #snsLogin
    a(href="/auth/twitter") Twitter Login
    br
    a(href="/facebooklogin") FacebookLogin
  #kixmixCreate
    a(href="/new") Create Account

  table
    tr
      th id
      th name
      th pass
      th mail
      th gender
      th birthday
    - each user in users
      tr
        td #{user.user_id}
        td #{user.username}
        td #{user.password}
        td #{user.mail}
        td #{user.gender}
        td #{user.birthday}
  
