extends ../layout

block content
  form#Umenu
    input(type="button")
  h2 Hi! #{user.username}
  div(style='display:none')
    table
      tr
        th id
        th name
        th pass
        th mail
        th gender
        th birthday
      - each row in rows
        tr
          td #{row.user_id}
          td #{row.username}
          td #{row.password}
          td #{row.mail}
          td #{row.gender}
          td #{row.birthday}
    table
      tr
        th live_id
        th title
        th cast
        th date
        th address
        th place
      - each live in lives
        tr
          td #{live.live_id}
          td #{live.title}
          td #{live.cast}
          td #{live.date}
          td #{live.address}
          td #{live.place}
  - each live in lives
    div.liveInfo
      a(href="/live/#{live.live_id}") #{live.title}
      
        #{live.place}
        i.fa.fa-clock-o #{live.date}
