extends ../layout

block content
  form#Umenu
    input(type="button")
  h2 Hi! #{user.username}

  - each live in lives
    div.liveInfo
      a(href="/live/#{live.live_id}") #{live.title}
        br
        span.place
          i.fa.fa-map-marker #{live.place}
        br
        span.time
          i.fa.fa-clock-o #{live.date}
      div.liveImg
