extends ../layout

block content
  h2 Hi! #{user.username}
  
  
  table
    tr
      th live_id
      th title
      th cast
      th date
      th address
      th place
    - each live in liveInfo
      tr
        td #{live.live_id}
        td #{live.title}
        td #{live.cast}
        td #{live.date}
        td #{live.address}
        td #{live.place}
  
